* {
  box-sizing: border-box;
  user-select: none;
}
a:link, a:visited{
  text-decoration: none;
}
.telo a:hover{
  color: darkorange;
}
html, body {
  height: 100%;
  margin: 0;
}
body{
  height: 1fr;
}
.bg-image-wrapper{
  filter:blur(5px);
  z-index: -1;
  position:fixed;
  top:-7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
}
.bg-image{
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-image: url(../img/darkwood.jpg);
  background-position: center;
}

.shapka{
  z-index: 5;
  background: #333;
  font: 20px Verdana, sans-serif;
  color: white;
  height: auto;
  width: 100%;
  top: 0px;
  display: flex;
  position: fixed;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7)
}

.shapka ul {
  list-style-type: none;
  background: #555;
  width:100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.shapka ul li {
  float: left;
  height: auto;
  text-transform: uppercase;
  font: 20px Arial, sans-serif;
}
.shapka ul li:hover:not(.active){
  color:rgb(255,100,0);
  background: #111;
  text-shadow: 0px 0px 20px rgba(255, 64, 0, 0.8),
  0px 0px 20px rgba(255, 64, 0, 0.3);
}
.shapka ul .active{
  color: white;
  background: rgb(240,64,0);
  text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
}
.shapka ul li a{
  display:block;
  padding:10px 22px 9px 22px;
  text-decoration:none;
}
.shapka ul li a:link, a:visited{
  color:inherit;
}
.contacts{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  background:grey;
  z-index: 30;
  width: 500px;
  max-width: 30%;
}
.contacts.active{
  transform: translate(-50%, -50%) scale(1);
}
.contacts-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.contacts-header .title{
  font-size: 1.8rem;
  font-weight: bold;
}
.contacts-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.3rem;
  font-weight: bold;
}
.contacts-body{
  padding: 10px 15px;
}
#overlay{
  position:fixed;
  z-index: 29;
  opacity: 0;
  top: 0;
  left :0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 20ms;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.telo{
  padding-top: 42px;
  text-align: center;
  font: 30px bold Verdana, sans-serif;
  color: #ccc;
  width:100%;
  height:auto;
  display:flex;
  flex-flow: row;
}
.left{
  float:left;
  width: 20%;
  height: auto;
  flex: 0 1 auto;
}
.mid{
  float:left;
  flex: 1 1 auto;
  width:60%;
  height: auto;
  display: block;
}
.right{
  float:left;
  width:20%;
  height: auto;
  flex: 0 1 auto;
}
#brickgame{
  width: 500px;
  height: 500px;
  background: white;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}
#brickgame > div{
  background: grey;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  outline: 1px solid #afafaf;
}
#dragplace{
  margin: auto;
  margin-top: 20px;
  width: 330px;
  height: auto;
  background: #1a1a1a;
}
.dragcontainer{
  background: #333;
  padding: 1rem;
  padding-top: 0rem;
  margin-top: 5px;
}
.dragcontainer > button{
  transform: translateX(-114px);
  z-index: 0;
  margin-top: 8px;
  padding: 0px;
  padding-bottom: 5px;
  width: 30px;
  font-size: 1.6rem;
  line-height: 20px;
  color: #aaa;
  cursor: pointer;
  border: none;
  outline: none;
  background: #222;
  font-weight: bold;
}
#additem:active{
  background: #111;
  color: rgb(179, 45, 45);
}
#remitem:active{
  background: #111;
  color: rgb(77, 77, 255);
}
.draggable{
  padding: 1rem;
  background: #ddd;
  color: darkred;
  border: 1px solid black;
  cursor: grab;
}
.draggable:last-of-type{
  margin-bottom: 0rem;
}
.draggable:first-of-type:not(.vanishing){
  margin-top: 5px;
}
.vanishing{
  transition: 80ms;
  transition-timing-function: ease-out;
  color: #ddd;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  border: none;
  font-size: 0px;
}
.vanishing + p {
  margin-top: 5px;
}
.dragging{
  background: #222;
  color:      #222;
  border: 1px dotted #444;
}
.pressedhello{
  text-shadow: 0px 0px 16px rgb(255, 0, 76),
  0px 0px 7px rgb(243, 0, 0),
  0px 0px 22px rgba(0, 0, 0, 0.692);
}