:root{
  --shght: 55px;
  --shbordpx: 3px;
  --shbordclr1: grey;
  --shbordclr2: darkorange;
  --shbord: var(--shbordpx) solid var(--shbordclr1);
  --shcght: var(--shght);
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  /* display:flex;
  flex-direction: column; */
  height:auto;
  /* scroll-behavior: auto; */

}
.bg-image-wrapper{
  overflow:hidden;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
  position:fixed;
  top:-7px;
  left: -7px;
  right: -7px;
}
.bg-image{
  /* transform: scale(1.1); */
  /* overflow:hidden; */
  min-width: 100%;
  min-height: 100%;
  /* position:fixed; */
  /* position: absolute; */
  /* margin-left:-5px; */
  /* margin-right:-50px; */
  /* flex-grow: 1; */
  /* display: block; */
  /* left: -5px; */
  /* top:50px; */
  /* margin-top: 50px; */
  /* bottom:-5px;*/
  /* margin-top: 10px; */
  /* position: fixed; */
  /* right: -5px; */
  /* z-index: 1; */
  /* background-color: black; */
  /* background-attachment: fixed; */
  background-size: cover;
  background-image: url(../img/darkwood.jpg);
  /* box-sizing: content-box; */
  filter:blur(5px);
}
.telo{
  text-align: center;
  font: 40px bold Verdana, sans-serif;
  color: #ccc
}
.shapka{
  background: linear-gradient(to top, #090909, #444444);
  font: 30px Verdana, sans-serif;
  color: #999999;
  height: var(--shght);
  width: 100%;
  margin-top:0px;
  display: grid;
  overflow:hidden;
  position:relative;
  grid-template-columns: 300px auto;
}

.shapka_container{
  height: var(--shcght);
  float:left;
  left: 100px;
  display: grid;
  text-align:center;
  grid-row: 1;
  justify-content: left;
  border-bottom: var(--shbord);
  transition: 1s;
}

.shapka_logo{
  text-align: center;
  display: table;
  grid-row: 1;
  width: 300px;
  /* padding-top: 4px; */
}

.shapka_logo_text{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

.shapka_button_text a:link, a:visited{
  text-decoration: none;
  color:inherit;
}

.shapka_container ul {
  margin: 0;
  padding: 0;
  height: inherit;
  transform: skew(-25deg);
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.shapka_container ul li {
  display: block;
  float:left;
  border-left: 2px solid #666;
  text-transform:uppercase;
  position:relative;
  height: inherit;
  transition: 0.15s;
}
.shapka_container ul li:hover{
  border-bottom: var(--shbordpx) solid var(--shbordclr2);
  color:var(--shbordclr2);
}
.shapka_container ul li:last-child{
  border-right: 2px solid #666;
}
.shapka_container ul li a{
  display:block;
  padding:0.35em 1em;
  color:inherit;
  text-decoration:none;
  transform:skew(25deg);
  transition: 0.15s;
}
.shapka_container ul li a:link, a:visited{
  text-decoration: none;
  color:inherit;
}
.telo a{
  padding:0.35em 0.6em 0.1em 0.6em;
  color:inherit;
  text-decoration:none;
  transition: 0.15s;
}
.telo a:hover{
  border-bottom: var(--shbordpx) solid var(--shbordclr2);
  color:var(--shbordclr2);
}
.telo a:link, a:visited{
  text-decoration: none;
  /* color:inherit; */
}
